.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: minmax(100px,auto);
}

.menu{
display: grid;

}
menu > div{

}

.top{

}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.main > div:nth-child(odd){
    background: lightgrey;
    grid-auto-rows: minmax(70px, auto);
    padding: 10px;
}
.main > div:nth-child(even){
    background: whitesmoke;
}