.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: minmax(100px,auto);
    background: whitesmoke;
}

.menu{
display: grid;
    background: ghostwhite;

}
menu > div{

}

.top{

}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-right: 30px;

}

.main > div:nth-child(odd){
    background: lightgrey;
    grid-auto-rows: minmax(70px, auto);
    padding: 10px;
}
.main > div:nth-child(even){
    background: whitesmoke;
    padding: 10px;
}

.last {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding-right: 30px;
    padding-top: 200px;
}

.last > div{

}
.final {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 30px;
    padding-right: 30px;
    padding-top: 15px;

}