body{

}
h1{
padding-top: 30px;
padding-left: 10px;
}

h2{
    padding-top: 40px;
}

h3{
    font-size: 20px;
    font: ;
}

h4 {
    font-size: 20px;
    font-style: italic;
    font-style: bold;
}

ul{

}

p{
    padding-left: 10px;
}

p1{
    font-size: 16px;
    padding-left: 10px;
    font-style: italic;
}
p2{
    font-size: 16px;
    padding-left: 10px;
    font-style: italic;
}
p3{
    font-size: 16px;
    padding-left: 15px;
    font-style: italic;
}
@media (max-width: 800px) {
    .main {
    width: 80%;
    Padding: 0;
    }
}
@media only screen and (max-width: 500px) {
    .main, .menu {
        width: 100%; }
}


