body{

}
h1{
padding-top: 30px;
padding-left: 10px;
}

h2{
    padding-top: 40px;
}

h3{
    font-size: 20px;
    font: ;
}

ul{

}

p{
    padding-left: 10px;
}

p1{
    font-size: 16px;
    padding-left: 10px;
    font-style: italic;
}
p2{
    font-size: 16px;
    padding-left: 10px;
    font-style: italic;
}
p3{
    font-size: 16px;
    padding-left: 15px;
    font-style: italic;
}
