
img {
    max-width: 100%;
}

body{
    box-sizing: border-box;
    font-family: sans-serif;
}

a:link {
    color: black;
}
a:visited {
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.container_sidebar {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.sidebar_menu {

}

@media (max-width: 900px) {
    .container{
        display: block;
    }
    .container_sidebar{
        width: 100%;
    }
}

.container_main {
    flex: 1;
}

.main_heading{
    text-align: center;
}
.main_sub {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.content {
    padding: 15px;
}
.link_main{
    /*display: grid;
    grid-template-columns: repeat(3, 1fr); */
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
}

.box_link {
    background: lightgray;
    padding: 15px 25px;
    flex: 1;
    min-width: 300px;
    display: block;
}

@media (max-width: 550px) {
    .box_link {
        min-width: initial;
    }
    .link_main {
        flex-direction: column;
    }
}

.articles{
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.article{
     padding: 15px;
     background: lightgray;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
 }
.img-div{
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
.img_container {
    height: 200px;
    overflow: hidden;
    position: relative;
}
@media (max-width: 900px) {
    .articles{
        grid-template-columns: repeat(2, 1fr);
    }
    .img_container{
        height: 250px;
    }
}
@media (max-width: 600px) {
    .articles{
        grid-template-columns: 1fr;
    }
    .img_container {
        height: initial;
    }
    .img-div {
        top: 0;
        transform: translateY(0);
    }
}
.final {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 15px;
}